
.aboutContainer{
    display: flex;
    /* flex: 1; */
    height:99vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FCD450;
     /*border: 1px solid; */
     border-bottom: 1px solid #000101;
     padding-bottom: 2rem;
}


.aboutContentContainer{
    display: flex;
    flex:1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 180px;
    margin-top: 20px; */
    /* width: 99vw; */
}

.aboutLeftContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #027F3D;
    margin-left: 4rem;
    margin-right: 4rem;
    /* border: 1px solid; */
}

.aboutRightContainer{
    display: flex;
    flex:2;
    flex-direction: column;
    justify-content: center;

    /* border: 1px solid green; */
}

.aboutRightContainer p{
    /* width:30vw; */
    /* padding-right: 80px; */
    /* color:#9b9b9b; */
    color: #027F3D;
}

.chart{
    display:table;
    table-layout: fixed;   
    
    width:60%;
    /* max-width:700px; */
    height:200px;
    margin:0 auto;
    
    background: linear-gradient(to bottom, #7E3838 2%, transparent 2%);
    background-size: 100% 50px;
    background-position: left top;
    border-bottom: 1px solid ;
    border-bottom-color: #7E3838;
    
  }

  .chart li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
  }

.chart span{
    margin:0 1em;
    display: block;
    /* background: #FFB53C; */
    background: #027F3D;
    animation: draw 1s ease-in-out;
    font-size: 12px;
}

  .chart span::before{
    position:absolute;
    left:0;right:0;top:100%;
    padding:5px 1em 0;
    display:block;
    text-align:center;
    content:attr(title);
    word-wrap: break-word;
  }
  
  @keyframes draw{
    0%{height:0;} 
  }

  .imgStyle{
    width: 100px;
  }

  .imgContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
  }

  @media only screen and (max-device-width: 1024px) {
    .aboutContentContainer{
      flex-wrap: wrap;
    }
    .aboutRightContainer p{
      line-height: 1.5rem;
    }
  }