.footer{
    display: flex;
    /* flex: 1 1; */
    justify-content: flex-end;
    align-items: center;
    background-color: #000101;
    height: 10vh;
}

.footer p{
    margin-right: 2rem;
    color: #fff;
}

.powered{
    font-size: small;
}