.footer{
    display: flex;
    /* flex: 1 1; */
    justify-content: flex-end;
    align-items: center;
    background-color: #F0F0F0;
    height: 10vh;
}

.footer p{
    margin-right: 2rem;;
}

.powered{
    font-size: small;
}