.missionContainer{
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;

    /* height:99vh; */
    background-color: #fff;
    border-bottom: 1px solid #000101;
    padding-bottom: 2rem;
}

.missionContent{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
}

.missiContent p{
    color:#9b9b9b;
    /* font-size: 15px; */
}

.missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex: 1 1; */
    /*width:65vw;*/
}

.missiLeft img{
    /* flex:1; */
    /* width:50%;
    height: 50%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid; */
    margin-right: 3rem;;
}


.missi{
    /*border: 1px solid #fff;*/
    padding: 15px;
    width: 40vw;
    flex:2;
    /*margin: 10px;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 15px;*/
    /*background: #fff;*/
}

.missi-heading{
    line-height: 5px;
}

.missi-list{
    line-height: 1.5;
    /* font-size: .9rem; */
    color: #9B9B9B;
}

/* @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .missiLeft img{
        width: 10%;
    }
} */
@media only screen and (max-device-width: 1024px) {

    .missions{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .missiLeft{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:1;
    }

    .missiLeft img{
        width: 80%;
        height: 30rem;
    }

    .missi{
        flex:1
    }
  }